<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2>Teams you lead</h2>

      <br>

      <!-- List of team -->
      <div class="panel panel-info" ng-repeat="(l_team, value) in userInfo.leader_of">
        <div class="panel-heading">
          <span
            class="glyphicon"
            ng-class="isTeamShown(teamInfo[l_team]) ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"
            ng-click="toggleEvent(teamInfo[l_team])"
          ></span>
          <strong>{{ teamInfo[l_team].name }}</strong>

          &nbsp;&nbsp;          
          <a class="btn btn-sm btn-primary" href="#/tabs/matchtoteammember/{{l_team}}">
            <span class="glyphicon glyphicon-zoom-in"></span>
            Recruit more
          </a>
          
          <br>
          
          at {{ eventInfo[teamInfo[l_team].event_uid].name }}                    
        </div>
        <div class="panel-body" ng-if="isTeamShown(teamInfo[l_team])">
          <!-- List of member -->

          <p ng-repeat="(m_id, value) in teamInfo[l_team].members_uid">
            {{ allUserInfo[m_id].name }}
          </p>

        </div>
      </div>

    </div>

    <div class="col-md-6 col-sm-12">
      <h2>Teams you join</h2>

      <br>

      <!-- List of team -->
      <div class="panel panel-info" ng-repeat="(l_team, value) in userInfo.member_of">
        <div class="panel-heading">
          <span
            class="glyphicon"
            ng-class="isTeamShown(teamInfo[l_team]) ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"
            ng-click="toggleEvent(teamInfo[l_team])"
          ></span>
          <strong>{{ teamInfo[l_team].name }}</strong> <br>
          at {{ eventInfo[teamInfo[l_team].event_uid].name }}          
        </div>
        <div class="panel-body" ng-if="isTeamShown(teamInfo[l_team])">
          <!-- List of member -->

          <p ng-repeat="(m_id, value) in teamInfo[l_team].members_uid">
            {{ allUserInfo[m_id].name }}
          </p>

        </div>
      </div>      

    </div>    

  </div>
</div>
