<div class="container-fluid">
  <div class="page-header">
    <h1> {{ event.name }}</h1>
  </div>

  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div id="description"> {{ event.description }} </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div id="from"><strong>From:</strong></div>
      <div id="startDate"> {{event.start_date}} </div>
      <div id="startTime"> {{event.start_time}} </div>

      <div id="to"><strong>To:</strong></div>
      <div id="endDate"> {{event.end_date}} </div>
      <div id="endTime"> {{event.end_time}} </div>

      <div id="teamSize"><strong>Team Size:</strong> {{event.min_team_size}} - {{event.max_team_size}} people </div>

      <div id="contactEmail"> <strong>Contact: </strong>{{event.contact_email}} </div>
      <div id="location"> <strong>Location: </strong>{{event.location}} </div>
    </div>
  </div>
</div>