<div
  class="container-fluid"
  style="background: url(img/logo.png) no-repeat center;background-size:cover;"
>

  <div style="position: fixed; bottom: 20%; text-align: center; width: 100%" >
    <button class="btn btn-primary" style="font-size: 1.5em; padding: 10px 30px;" ng-click="login()">
      Sign In with Facebook
    </button>
    <br>
    <br>
    <button class="btn btn-primary" style="font-size: 1.5em; padding: 10px 30px" ng-click="requestEvent()">
      Request Event
    </button>
  </div>

</div>
