<div class="container-fluid">
  <div class="page-header" ng-if="currentEventUid">
    <h1>{{ eventInfo[currentEventUid].name }}</h1>
  </div>

  <td-cards>
    
    <td-card
      ng-repeat="card in cards"
      on-destroy="cardDestroyed($index)"
      on-swipe-left="cardSwipedLeft($index)"
      on-swipe-right="cardSwipedRight($index)"
      class="card-{{$index}}"
    >
      <div class="image">
        <div class="no-text">NOPE</div>
        <img ng-src="{{card.image}}">
        <div class="yes-text">LIKE</div>
        <div class="card-desc">
          {{card.teamName}}     {{card.matchingScore}}%          
        </div>

        <div ng-if="!currentEventUid">
          at <strong>{{ eventInfo[card.eventUid].name }}</strong>
        </div>

        <span class="badge" ng-repeat="sk in card.mostMatchedSkills">{{sk}}</span>
        <span class="badge" ng-repeat="pos in card.mostMatchedPositions">{{pos}}</span>       
        
      </div>
    </td-card>
  
  </td-cards>

</div>