<div class="container-fluid">  
 
  <!-- Profile picture -->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">  
      <img class="img-responsive" id="imgProfilePicture" ng-src={{photoURL}}>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <!-- Input name -->
      <div class="form-group">
        <label for="profileName">Name</label>
        <input type="text" id="profileName" class="form-control" name="name" ng-model="profile.name" placeholder="John Smith">
      </div>

      <!-- Input bio -->
      <div class="form-group">
        <label for="bio">Brief bio</label>
        <textarea id="bio" name="bio" class="form-control" ng-model="profile.bio" placeholder="Bio"></textarea>
      </div>

      <label for="skills">Skills</label>
      <div class="input-group">
        <input type="text" id="skills" class="form-control" name="skills" ng-model="profile.newSkill" placeholder="e.g. Ionic, AngularJS, React,...">
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="addSkill(profile.newSkill)">
          Add Skill
          </button> 
        </span>
      </div>

      <!-- Skill list -->
      <div class="list-group">
        <button class="list-group-item" ng-repeat="sk in skills | orderBy:sk">
          <span class="glyphicon glyphicon-remove" ng-click="removeSkill(sk)">&nbsp;</span>
          {{ sk }}
        </button>
      </div> 

      <label for="position">Desired positions</label>
      <div class="input-group">
        <input type="text" id="position" class="form-control" name="position" ng-model="profile.newPosition" placeholder="e.g. Project manager, Designer, Developer,...">
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="addPosition(profile.newPosition)">
            Add Position
          </button>
        </span>
      </div>


      <!-- Position list -->
      <div class="list-group">
        <button class="list-group-item" ng-repeat="pos in desiredPositions | orderBy:pos">
          <span class="glyphicon glyphicon-remove" ng-click="removePosition(pos)">&nbsp;</span>
          {{ pos }}
        </button>
      </div>

      <!-- Save -->
      <button class="btn btn-primary" ng-click="saveProfile()" ng-disabled="isSavingProfile">
        Save Profile
      </button>
    </div> 
  </div>

</div>