<div class="container-fluid">
  <div class="page-header">
    <h1> New Team </h1>
    <h2><small>at {{ event.name }}<small></h2>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="form-group">
          <label for="inputTeamName">Team Name</label>
          <input type="text" class="form-control" id="inputTeamName" placeholder="Awesome name" ng-model="teamProfile.name" required>
        </div>

        <div class="form-group">
          <label for="inputTeamDescription">Description</label>
          <textarea class="form-control" id="inputTeamDescription" placeholder="Describe your awesome team" ng-model="teamProfile.description" required>

          </textarea>
        </div>

        <label for="inputNewSkill">Skill Needed</label>
        <div class="input-group">      
          <input class="form-control" id="inputNewSkill" type="text" placeholder="e.g. Ionic, AngularJS, React,..." ng-model="teamProfile.newSkill">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="addSkill()">Add Skill</button>
          </span>            
        </div>

        <div class="list-group">
          <button class="list-group-item" ng-repeat="(key, value) in teamProfile.skills" style="font-size: 1.5em">
            <span class="glyphicon glyphicon-remove" ng-click="removeSkill(key)"></span>
            &nbsp;
            {{ key }}
          </button>
        </div>

        <label for="inputNewPosition">Position Needed</label>
        <div class="input-group">      
          <input class="form-control" id="inputNewPosition" type="text" placeholder="e.g. Project manager, Designer, Developer,..." ng-model="teamProfile.newPosition">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="addPosition()">Add Position</button>
          </span>            
        </div>  

        <div class="list-group">
          <button class="list-group-item" ng-repeat="(key, value) in teamProfile.positions" style="font-size: 1.5em">
            <span class="glyphicon glyphicon-remove" ng-click="removePosition(key)"></span>
            &nbsp;
            {{ key }}
          </button>
        </div>

        <button class="btn btn-primary" ng-click="addTeam()">Create Team</button>
    </div>
  </div>

 

</div>